USE [KT6_Lenchuk]
GO
/****** Object:  Table [dbo].[category]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] NOT NULL,
	[cityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliverer]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliverer](
	[id] [int] NOT NULL,
	[delivererName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_deliverer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[id] [int] NOT NULL,
	[article] [nvarchar](50) NOT NULL,
	[idName] [int] NOT NULL,
	[idQuantityType] [int] NOT NULL,
	[cost] [int] NOT NULL,
	[maxDiscount] [int] NOT NULL,
	[idProducer] [int] NOT NULL,
	[idDeliverer] [int] NOT NULL,
	[irCategory] [int] NOT NULL,
	[currentDiscount] [int] NOT NULL,
	[inStock] [int] NOT NULL,
	[description] [nvarchar](100) NOT NULL,
	[image] [nvarchar](50) NULL,
	[imageHolder] [nvarchar](50) NULL,
 CONSTRAINT [PK_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[name]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[name](
	[id] [int] NOT NULL,
	[itemName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_name] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] NOT NULL,
	[structure] [nvarchar](100) NOT NULL,
	[orderDate] [date] NOT NULL,
	[deliverDate] [date] NOT NULL,
	[point] [int] NOT NULL,
	[lname] [nvarchar](50) NULL,
	[fname] [nvarchar](50) NULL,
	[patro] [nvarchar](50) NULL,
	[code] [int] NOT NULL,
	[idStatus] [int] NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[points]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[points](
	[id] [int] NOT NULL,
	[indexes] [int] NOT NULL,
	[idCity] [int] NOT NULL,
	[idStreet] [int] NOT NULL,
	[house] [int] NULL,
 CONSTRAINT [PK_points] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producer]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producer](
	[id] [int] NOT NULL,
	[producerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_producer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quantityType]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quantityType](
	[id] [int] NOT NULL,
	[quantityTypeName] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_quantityType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] NOT NULL,
	[roles] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] NOT NULL,
	[statusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[street]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[street](
	[id] [int] NOT NULL,
	[streetName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_street] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 12.02.2025 8:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] NOT NULL,
	[idRoles] [int] NOT NULL,
	[lname] [nvarchar](50) NOT NULL,
	[fname] [nvarchar](50) NOT NULL,
	[patro] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[category] ([id], [categoryName]) VALUES (1, N'Для животных')
INSERT [dbo].[category] ([id], [categoryName]) VALUES (2, N'Товары для кошек')
INSERT [dbo].[category] ([id], [categoryName]) VALUES (3, N'Товары для собак')
GO
INSERT [dbo].[city] ([id], [cityName]) VALUES (1, N'г.Нефтеюганск')
GO
INSERT [dbo].[deliverer] ([id], [delivererName]) VALUES (1, N'PetShop')
INSERT [dbo].[deliverer] ([id], [delivererName]) VALUES (2, N'ZooMir')
GO
INSERT [dbo].[items] ([id], [article], [idName], [idQuantityType], [cost], [maxDiscount], [idProducer], [idDeliverer], [irCategory], [currentDiscount], [inStock], [description], [image], [imageHolder]) VALUES (1, N'А112Т4', 3, 1, 123, 30, 4, 1, 2, 3, 6, N'Лакомство для кошек Dreamies Подушечки с курицей, 140 г', N'А112Т4.png', NULL)
INSERT [dbo].[items] ([id], [article], [idName], [idQuantityType], [cost], [maxDiscount], [idProducer], [idDeliverer], [irCategory], [currentDiscount], [inStock], [description], [image], [imageHolder]) VALUES (2, N'G453T5', 8, 1, 149, 15, 12, 2, 1, 2, 7, N'Щетка-варежка True Touch для вычесывания шерсти, синий', N'G453T5.jpg', NULL)
INSERT [dbo].[items] ([id], [article], [idName], [idQuantityType], [cost], [maxDiscount], [idProducer], [idDeliverer], [irCategory], [currentDiscount], [inStock], [description], [image], [imageHolder]) VALUES (3, N'F432F4', 7, 1, 1200, 10, 8, 2, 2, 3, 15, N'Сухой корм для кошек Pro Plan с чувствительным пищеварением', N'F432F4.jpg', NULL)
GO
INSERT [dbo].[name] ([id], [itemName]) VALUES (1, N'Игрушка')
INSERT [dbo].[name] ([id], [itemName]) VALUES (2, N'Клетка')
INSERT [dbo].[name] ([id], [itemName]) VALUES (3, N'Лакомство')
GO
INSERT [dbo].[orders] ([id], [structure], [orderDate], [deliverDate], [point], [lname], [fname], [patro], [code], [idStatus]) VALUES (1, N'А112Т4, 15, G453T5, 1', CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), 25, NULL, NULL, NULL, 601, 2)
INSERT [dbo].[orders] ([id], [structure], [orderDate], [deliverDate], [point], [lname], [fname], [patro], [code], [idStatus]) VALUES (2, N'F432F4, 15, Y324F4, 15', CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), 20, NULL, NULL, NULL, 602, 2)
INSERT [dbo].[orders] ([id], [structure], [orderDate], [deliverDate], [point], [lname], [fname], [patro], [code], [idStatus]) VALUES (3, N'E532Q5, 10, T432F4, 10', CAST(N'2022-05-08' AS Date), CAST(N'2022-05-14' AS Date), 22, N'Шилова', N'Майя', N'Артемьевна', 603, 1)
GO
INSERT [dbo].[points] ([id], [indexes], [idCity], [idStreet], [house]) VALUES (1, 344288, 1, 26, 1)
INSERT [dbo].[points] ([id], [indexes], [idCity], [idStreet], [house]) VALUES (2, 614164, 1, 29, 30)
INSERT [dbo].[points] ([id], [indexes], [idCity], [idStreet], [house]) VALUES (3, 394242, 1, 6, 43)
GO
INSERT [dbo].[producer] ([id], [producerName]) VALUES (1, N'Cat Chow')
INSERT [dbo].[producer] ([id], [producerName]) VALUES (2, N'Chappy')
INSERT [dbo].[producer] ([id], [producerName]) VALUES (3, N'Dog Chow')
GO
INSERT [dbo].[quantityType] ([id], [quantityTypeName]) VALUES (1, N'шт.')
GO
INSERT [dbo].[roles] ([id], [roles]) VALUES (1, N'Администратор')
INSERT [dbo].[roles] ([id], [roles]) VALUES (2, N'Клиент')
INSERT [dbo].[roles] ([id], [roles]) VALUES (3, N'Менеджер')
GO
INSERT [dbo].[status] ([id], [statusName]) VALUES (1, N'Завершен')
INSERT [dbo].[status] ([id], [statusName]) VALUES (2, N'Новый ')
GO
INSERT [dbo].[street] ([id], [streetName]) VALUES (1, N' ул. 8 Марта')
INSERT [dbo].[street] ([id], [streetName]) VALUES (2, N' ул. Вишневая')
INSERT [dbo].[street] ([id], [streetName]) VALUES (3, N' ул. Гоголя')
GO
INSERT [dbo].[user] ([id], [idRoles], [lname], [fname], [patro], [login], [password]) VALUES (1, 1, N'Суслов', N'Илья', N'Арсентьевич', N'pixil59@gmail.com', N'2L6KZG')
INSERT [dbo].[user] ([id], [idRoles], [lname], [fname], [patro], [login], [password]) VALUES (2, 1, N'Яковлева', N'Ярослава', N'Даниэльевна', N'deummecillummu-4992@mail.ru', N'uzWC67')
INSERT [dbo].[user] ([id], [idRoles], [lname], [fname], [patro], [login], [password]) VALUES (3, 1, N'Игнатьева', N'Алина', N'Михайловна', N'vilagajaunne-5170@yandex.ru', N'8ntwUp')
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_category] FOREIGN KEY([irCategory])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_category]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_deliverer] FOREIGN KEY([idDeliverer])
REFERENCES [dbo].[deliverer] ([id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_deliverer]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_name] FOREIGN KEY([idName])
REFERENCES [dbo].[name] ([id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_name]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_producer] FOREIGN KEY([idProducer])
REFERENCES [dbo].[producer] ([id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_producer]
GO
ALTER TABLE [dbo].[items]  WITH CHECK ADD  CONSTRAINT [FK_items_quantityType] FOREIGN KEY([idQuantityType])
REFERENCES [dbo].[quantityType] ([id])
GO
ALTER TABLE [dbo].[items] CHECK CONSTRAINT [FK_items_quantityType]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_points] FOREIGN KEY([point])
REFERENCES [dbo].[points] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_points]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_status] FOREIGN KEY([idStatus])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_status]
GO
ALTER TABLE [dbo].[points]  WITH CHECK ADD  CONSTRAINT [FK_points_city] FOREIGN KEY([idCity])
REFERENCES [dbo].[city] ([id])
GO
ALTER TABLE [dbo].[points] CHECK CONSTRAINT [FK_points_city]
GO
ALTER TABLE [dbo].[points]  WITH CHECK ADD  CONSTRAINT [FK_points_street] FOREIGN KEY([idStreet])
REFERENCES [dbo].[street] ([id])
GO
ALTER TABLE [dbo].[points] CHECK CONSTRAINT [FK_points_street]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_roles] FOREIGN KEY([idRoles])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_roles]
GO
